.general {
    height: 85vh;
    background-color: var(--white);
    padding: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.general > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.general > header > div {
    padding: 1rem;
    border-radius: 50%;
}

.base_price {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.base_price input::-webkit-slider-thumb {
    background-color: var(--bright_red);
}
  
.base_price input::-webkit-slider-runnable-track {
    background: var(--bright_yellow);
    border-radius: 10px;
}

.pieces {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.pieces > article {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid black;
    aspect-ratio: 1;
}

.pieces > article > img {
    height: 50%;
}

.example_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
}

.example_card h3 {
    width: 100%;
    padding: 0.5rem;
}

.example_card p, .example_card h6 {
    font-size: 0.6rem;
}

.example_card h6 {
    font-weight: bold;
    margin: 0.5rem 0;
}

.example_card > div {
    margin: 0.5rem 0;
    width: 75%;
}

.example_card > div > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}