.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content {
    height: 80%;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 0.3rem;
}

.content p {
    word-wrap: break-word;
    transform: scale(0.65);
}

.content img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}